---
import Layout from '../layouts/Layout.astro';

const meta = {
  title: 'Not Found | John Webb',
  description: 'Page not found'
};
---

<Layout {meta}>
  <section data-id="404" class="animated-section start-page">
		<div class="section-content vcentered">

				<div class="row">
					<div class="col-sm-12 col-md-12 col-lg-12">
						<div class="title-block">
							<h2>404</h2>
							<div class="text-rotation">                                    
								<div class="item">
									<div class="sp-subtitle" id="title">Page Not Found</div>
								</div>
							</div>
						</div>
					</div>
				</div>

		</div>
	</section>
</Layout>